{% extends "new_template/base2.html" %}
{% load static %}
{% block content %}

<!-- dynamic content -->
<div id="sb-dynamic-content" class="sb-transition-fade">

    <!-- banner -->
    <section class="sb-banner sb-banner-xs sb-banner-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- main title -->
            <div class="sb-main-title-frame">
              <div class="sb-main-title">
                <h1 class="sb-h2">Menu Quentinha Delivery </h1>
                <ul class="sb-breadcrumbs">
                  <li><a href="/new">Inicio</a></li>
                  <li><a href="#.">Menu</a></li>
                </ul>
              </div>
            </div>
            <!-- main title end -->
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- menu section 1 -->
    <section class="sb-menu-section sb-p-90-60">
      <div class="sb-bg-1">
        <div></div>
      </div>
      <div class="container">
        <!-- filter -->
        <div class="sb-filter mb-30">
          <a href="#." data-filter="*" class="sb-filter-link sb-active">Todos</a>
          <a href="#." data-filter=".Q" class="sb-filter-link">Quentinhas</a>
          <a href="#." data-filter=".B" class="sb-filter-link">Bebidas</a>
          
        </div>
        <!-- filter end -->
        <div class="sb-masonry-grid">
          <div class="sb-grid-sizer"></div>
          {% for prod in produtos %}
          <div class="sb-grid-item sb-item-25 {{ prod.tipo}}">
            <a data-fancybox="menu" data-no-swup href="{% static 'img/marmitas/bestQuentinha.png' %}" class="sb-menu-item sb-mb-30">
              <div class="sb-cover-frame">
                {% if prod.tipo == 'Q' %}
                <img src="{% static 'img/marmitas/bestQuentinha.png' %}" alt="{{ prod.titulo}}">
                {% else %}
                <img src="{% static 'img/menu/15.jpg' %}" alt="product">
                {% endif %}
              </div>
              <div class="sb-card-tp">
                <h4 class="sb-card-title">{{ prod.titulo}}</h4>
                <div class="sb-price"><sub>R$</sub>{{prod.valor_promo}}</div>
                
              </div>
              <div class="sb-description">
                
                <p class="sb-text sb-mb-15">{{ prod.descricao | safe }}</p>
                <ul class="sb-stars">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><span>(4 ratings)</span></li>
                </ul>
              </div>
            </a>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- menu end -->

    <!-- promo -->


    
    <!-- promo end -->

{% endblock %}