{% extends "home/base.html" %}
{% load static %}
{% block content %}

    <!--Dropzon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/vendors/dropzone.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/dropzone.css' %}">
<!-- Page Sidebar Ends-->

            <div class="page-body">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"></div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Informações do Alimento</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-items">
                                                <div class="row gy-3">
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Nome</h6>
                                                            <input type="text" name="text" placeholder="Digite o nome">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Preço</h6>
                                                            <input type="number" name="number" placeholder="Digite o preço">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Preço com Desconto</h6>
                                                            <input type="number" name="number" placeholder="Digite o preço com desconto">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Restaurante</h6>
                                                            <input type="text" name="text" placeholder="Digite o nome do restaurante">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Culinária</h6>
                                                            <select class="form-select" name="carlist">
                                                                <option selected="">Selecione a culinária</option>
                                                                <option value="">Pizza</option>
                                                                <option value="">Macarrão</option>
                                                                <option value="">Batata Frita</option>
                                                                <option value="">Sanduíches</option>
                                                                <option value="">Macarronada</option>
                                                                <option value="">Miojo</option>
                                                                <option value="">Crioula</option>
                                                                <option value="">Pasta</option>
                                                                <option value="">Mexicana</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Quantidade de Itens</h6>
                                                            <input type="number" name="number" placeholder="Digite a quantidade">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="input-box">
                                                            <h6>Imagem da Categoria</h6>
                                                            <form class="dropzone custom-dropzone" id="multiFileUpload"
                                                            action="https://themes.pixelstrap.net/upload.php">
                                                                <div class="dropzone-wrapper">
                                                                    <div class="dz-message needsclick">
                                                                        <div>
                                                                            <i class="icon-cloud-up"></i>
                                                                            <h6>Arraste os arquivos aqui ou clique para enviar.</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="input-box">
                                                            <h6>Descrição</h6>
                                                            <textarea name="text" rows="4"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box d-flex align-items-center gap-2">
                                                            <input class="custom-checkbox" type="checkbox" >
                                                            <label class="mb-0">Publicar</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box d-flex align-items-center gap-2">
                                                            <input class="custom-checkbox" type="checkbox" >
                                                            <label class="mb-0">Não vegetariano</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="input-box d-flex align-items-center gap-2">
                                                            <input class="custom-checkbox" type="checkbox" >
                                                            <label class="mb-0">Opção para viagem</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <a href="#" class="btn restaurant-button">Salvar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

                    <!--Dropzon js -->
    <script src="{% static 'adm/assets/js/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'adm/assets/js/dropzone/dropzone-script.js' %}"></script>

                {% endblock %}
