
{% extends "home/base.html" %}


{% load static %}

{% block content %}


            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                       
                           <!--  <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Informações do Produto</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-items">
                                            <div class="row gy-3">
                                                <div class="col-xl-6">
                                                    <div class="input-box">
                                                        <h6>Nome do Produto</h6>
                                                            <input type="text"
                                                            placeholder="Nome do Produto">
                                                    </div>
                                                </div>
                                         
                                                <div class="col-12">
                                                    <div class="input-box">
                                                        <h6>Tags</h6>
                                                        <input type="text"
                                                            placeholder="Type tag & hit enter">
                                                    </div>  
                                                </div>
                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5>Enviar Cardápio para Todos Clientes</h5>
                                        <a href="#" id="enviarMensagens" class="btn btn-theme d-flex align-items-center">
                                            <i data-feather="plus-square"></i>&nbsp;Enviar
                                        </a>
                                    </div>
                                
                                    <div class="card-body">
                                        <!-- DESCREVER PARA QUE SERVE A TELA - TELA É PARA ENVIAR MENSAGEM PARA TODOS OS CLIENTES -->
                                        <h6>
                                            Esta tela é para enviar mensagens para todos os clientes cadastrados no sistema. Você pode enviar mensagens personalizadas ou informações importantes para todos os clientes de uma só vez.
                                        </h6>
                                    </div>
                                </div>
                                
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Mensagem de Texto</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-items"    >
                                            <div class="row gy-3">
                                                <div class="col-12">
                                                    <div class="input-box">
                                                            <textarea class="form-control" id="text_mensagem" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Imagem</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-items">
                                            <div class="row gy-3">
                                                <div class="col-xl-6">
                                                    <div class="input-box">
                                                       <form class="dropzone custom-dropzone" id="multiFileUpload"
                                                            action="https://themes.pixelstrap.net/upload.php">
                                                                <div class="dropzone-wrapper"  style="justify-content: center;text-align: center;">
                                                                    <div class="dz-message needsclick">
                                                                        <div>
                                                                            <i class="icon-cloud-up"></i>
                                                                            <h6>Adicione uma imagem.</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        
                            
                      
                        <div class="col-sm-12">
                            <div class="card card-table">
                                
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Clientes Cadastrados</h5>
                                        
                                    </div>
                                    

                                    <div class="table-responsive theme-scrollbar table-product">
                                        <table class="table category-table dataTable no-footer" id="table_all_users">
                                            <thead>
                                                <tr>
                                                    
                                                    <th>Nome</th>
                                                    <th>Endereco</th>
                                                    <th>Numero</th>
                                                    <th>Observacao</th>
                                                    <th>Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for contato in contatos %}
                                                <tr>
                                                    
                                                    <td>
                                                        <div class="user-name">
                                                            <span>{{ contato.nome }}</span>
                                                        </div>
                                                    </td>
                                                    <td>{{ contato.endereco }}</td>
                                                    <td>{{ contato.numero }}</td>
                                                    <td class="f-w-600">{{ contato.observacao|default:"—" }}</td>
                                                    <td>
                                                        <ul>
                                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                                            <li><a href="#"><i class="ri-pencil-line"></i></a></li>
                                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"><i class="ri-delete-bin-line"></i></a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="7" class="text-center">Nenhum contato encontrado.</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                <div class="container-fluid">
                    <!-- footer start-->
                    <footer class="footer">
                        <div class="row">
                            
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2025 ©QuentinhaDelivery</p>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
            </div>
            <!-- Container-fluid end -->


            
{% endblock %}



{% block extra_js %}
   <!--Dropzon js -->
    <script src="{% static 'adm/assets/js/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'adm/assets/js/dropzone/dropzone-script.js' %}"></script>
    <script>
        $(document).ready(function() {
           $('#enviarMensagens').on('click', function() {
                // Get the content of the editor
                var mensagem = $('#text_mensagem').val();
                // Get the selected files
                var file = $('#imagem')[0].files[0];
                
                // Create a FormData object to send the data
                var formData = new FormData();
                formData.append('mensagem', mensagem);
                formData.append('imagens', file); // Append the file to the FormData object

                //enviar para a rota  whatsapp-all
                $.ajax({
                    url: 'sendAll',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // Handle success response
                        console.log('Mensagem enviada com sucesso!');
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        // Handle error response
                        console.error('Erro ao enviar mensagem:', error);
                    }
                });
            });
        });
    </script>
{% endblock %}

