
{% extends "home/base.html" %}
{% load static %}
{% block content %}


            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                       
                           <!--  <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Informações do Produto</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-items">
                                            <div class="row gy-3">
                                                <div class="col-xl-6">
                                                    <div class="input-box">
                                                        <h6>Nome do Produto</h6>
                                                            <input type="text"
                                                            placeholder="Nome do Produto">
                                                    </div>
                                                </div>
                                         
                                                <div class="col-12">
                                                    <div class="input-box">
                                                        <h6>Tags</h6>
                                                        <input type="text"
                                                            placeholder="Type tag & hit enter">
                                                    </div>  
                                                </div>
                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5>Enviar Cardápio para Todos Clientes</h5>
                                        <a href="#" id="enviarMensagens" class="btn btn-theme d-flex align-items-center">
                                            <i data-feather="plus-square"></i>&nbsp;Enviar
                                        </a>
                                    </div>
                                
                                    <div class="card-body">
                                        <!-- DESCREVER PARA QUE SERVE A TELA - TELA É PARA ENVIAR MENSAGEM PARA TODOS OS CLIENTES -->
                                        <h6>
                                            Esta tela é para enviar mensagens para todos os clientes cadastrados no sistema. Você pode enviar mensagens personalizadas ou informações importantes para todos os clientes de uma só vez.
                                        </h6>
                                    </div>
                                </div>
                                
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Mensagem de Texto</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-items"    >
                                            <div class="row gy-3">
                                                <div class="col-12">
                                                    <div class="input-box">
                                                        <div id="editor"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Imagem</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-items">
                                            <div class="row gy-3">
                                                <div class="col-xl-6">
                                                    <div class="input-box">
                                                        <h6>Imagem</h6>
                                                        <input type="file"
                                                        id="formFile" multiple>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            
                      
                        <div class="col-sm-12">
                            <div class="card card-table">
                                
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Clientes Cadastrados</h5>
                                        
                                    </div>
                                    

                                    <div class="table-responsive theme-scrollbar table-product">
                                        <table class="table category-table dataTable no-footer" id="table_all_users">
                                            <thead>
                                                <tr>
                                                    
                                                    <th>Nome</th>
                                                    <th>Endereco</th>
                                                    <th>Numero</th>
                                                    <th>Observacao</th>
                                                    <th>Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for contato in contatos %}
                                                <tr>
                                                    
                                                    <td>
                                                        <div class="user-name">
                                                            <span>{{ contato.nome }}</span>
                                                        </div>
                                                    </td>
                                                    <td>{{ contato.endereco }}</td>
                                                    <td>{{ contato.numero }}</td>
                                                    <td class="f-w-600">{{ contato.observacao|default:"—" }}</td>
                                                    <td>
                                                        <ul>
                                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                                            <li><a href="#"><i class="ri-pencil-line"></i></a></li>
                                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"><i class="ri-delete-bin-line"></i></a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="7" class="text-center">Nenhum contato encontrado.</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                <div class="container-fluid">
                    <!-- footer start-->
                    <footer class="footer">
                        <div class="row">
                            
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2025 ©QuentinhaDelivery</p>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
            </div>
            <!-- Container-fluid end -->

        
{% endblock %}





