{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- INICIO TOPO DA PAGINA DO SITE -->

<div class="topo-pagina">
    <h1>Menu de Quentinhas</h1>
    <p><a href="/" title="sobre nós">Inicio ></a> Cardapio </p>
</div>

<!-- FIM TOPO DA PAGINA DO SITE -->

<!-- INICIO SLIDE DE COMPRAS DO SITE -->

<section class="menu">
    
    <!-- INICIO SLIDE PRINCIPAL DE COMPRAS DO SITE -->
    <div class="swiper menu-slider">
        
        <div class="swiper-wrapper">
            <!-- INICIO ITEM SLIDE PRINCIPAL -->
            <div class="swiper-slide slider">
                <h3 class="titulo"> Quentinhas</h3>
                <div class="box-container">

                    <!-- INICIO SUB ITEM SLIDE PRINCIPAL -->
                     {% for produto in quentinhas %}
                    <div class="box" data-name="{{produto.id}}">
                        <div class="info">
                            <h3>{{produto.titulo}}</h3>
                            <p>{{produto.descricao|safe}} 😋</p>
                        </div>
                        <div class="valor">R${{produto.valor}}</div>


                    </div>
 
                    <!-- FIM SUB ITEM SLIDE PRINCIPAL -->
                    {% endfor %}
                </div>
            </div>
            
            <!-- FIM ITEM SLIDE PRINCIPAL -->
            <!-- INICIO ITEM SLIDE PRINCIPAL -->
            <div class="swiper-slide slider">
                <h3 class="titulo"> Bebidas</h3>
                <div class="box-container">
                    {% for produto in bebidas %}
                    <!-- INICIO SUB ITEM SLIDE PRINCIPAL -->
                    <div class="box" data-name="{{produto.id}}">
                        <div class="info">
                            <h3>{{ produto.titulo}}</h3>
                            <p>{{produto.descricao|safe}}</p>
                        </div>
                        <div class="valor">R${{produto.valor}}</div>


                    </div>
                    {% endfor %}
                    <!-- FIM SUB ITEM SLIDE PRINCIPAL -->

                </div>
            </div>
            
            <!-- FIM ITEM SLIDE PRINCIPAL -->
            
        </div>
        <!-- INICIO PAGINAÇÃO SLIDER DO SITE -->
        <div class="swiper-pagination"></div>
        <!-- FIM PAGINAÇÃO SLIDER DO SITE -->
    </div>
    <!-- FIM SLIDE PRINCIPAL DE COMPRAS DO SITE -->

</section>

<!-- FIM  SLIDE DE COMPRAS DO SITE -->


<!-- INICIO JANELA MODAL DE COMPRAS DO SITE -->

<section class="menu-modal-container" style="display: none;">
    <div id="fechar" class="fas fa-times"></div>

    <div class="menu-modal" data-target="quentinha">
        <h3 id="modal-titulo">Quentinha M</h3>

        <div class="estrelinhas" id="modal-estrelinhas">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <p id="modal-descricao">Quentinha saborosa e acessível</p>

        <div class="valor" id="modal-preco">R$ 77,99</div>
        <div class="btn">Adicionar ao carrinho</div>
    </div>
</section>


<!-- FIM JANELA MODAL DO SITE -->
{% endblock %}