{% extends "base.html" %}
{% block content %}
{% for item_key, item in carrinho.items %}
    <div>
        <h3>{{ item.titulo }}</h3>
        <p>Quantidade: {{ item.quantidade }}</p>
        <p>Proteínas: {% for proteina in item.proteinas %}
            {{ proteina.nome }}
            {% endfor %}
        </p>
        <p>Acompanhamentos: {% for acompanhamento in item.acompanhamentos %}
            {{ acompanhamento.nome }}
            {% endfor %}
        </p>
        <p>Observações: {{ item.observacoes }}</p>
    </div>
{% endfor %}

{% endblock %}
