{% extends "base.html" %}
{% block content %}
<!-- INICIO DO CARRINHO -->


    <main class="main_cart">
      <div class="page-title" id="tesst">Seu Carrinho</div>
      {% if request.session.carrinho %}
      <div class="content">
        <section class="sec_carrinho">
          <table class="table_cart">
            <thead class="thread_cart">
              <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Acão</th>
              </tr>
            </thead>
            <tbody>
                {% for item_id, item in request.session.carrinho.items %}
              <tr data-item-id="{{ item_id }}">
                <td>
                  <div class="product">
                    {{item.imagem|safe}}
                    <div class="info">
                      <div class="name">{{ item.produto }}</div>
                      <div class="category">                    
                        <p>{{ item.proteinas|join:", " }}</p>
                        <p>{{ item.acompanhamentos|join:", " }}</p></div>
                    </div>
                  </div>
                </td>
                <td> 
                
                  R$ <span id="preco_{{ item_id }}">{{ item.preco }}</span>
                
                </td>
                <td>
                  <div class="quantidade">
                    <button type="button" class="btn-decrement" onclick="updateQuantity(-1, '{{ item_id }}')">-</button>
                    <div id="quantidade_{{ item_id }}">{{ item.quantidade }}</div>
                    <button type="button" class="btn-increment" onclick="updateQuantity(1, '{{ item_id }}')">+</button>
                </div>
                </td>
                <td>
                   <div class="total">Total: R$ <span id="total_{{ item_id }}">{{ item.total }}</span></div> 
                </td>
                <td>    
                    <form method="post" action="{% url 'remover_item' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item_id }}">
                        <button type="submit" class="remove"><i class="bx bx-x" style="color: red;" ></i></button>
                    </form>
                </td>
              </tr>
              {% endfor %}


            </tbody>
          </table>
        </section>

        <aside>
          <div class="box">
            <header>Resumo do pedido</header>
            <div class="info">
              <h1>Total do carrinho: R$ <span id="total_carrinho">{{ total_carrinho }}</span></h1>

            </div>
            <footer>
              <div>Total: R$ <span id="total_{{ item_id }}">{{ item.total }}</span></div>
            </footer>
          </div>
          <a href="{% url 'finalizar_pedido' %}" >Finalizar Compra</a>
        </aside>
      </div>
      {% else %}
      <div class="main_vazio" style="text-align: center; font-size: larger;">
      <div class="carrinho_vazio">
          <p class="text_carrinho_vazio">
              Seu carrinho está vazio.
          </p>
      </div>
      {% endif %}
      <a href="{% url 'menu' %}">
          Voltar ao cardapio
      </a>
    </div>
    </main>    

<!-- FIM DO CARRINHO -->


<script>
    function updateQuantity(change, itemId) {
        const quantityDiv = document.getElementById(`quantidade_${itemId}`);
        let quantity = parseInt(quantityDiv.textContent);
        const newQuantity = quantity + change;
        if (newQuantity >= 0) {
            quantityDiv.textContent = newQuantity;
            updateTotal(newQuantity, itemId);
        }
    }

    function updateTotal(quantity, itemId) {
        const itemDiv = document.getElementById(`total_${itemId}`);
        const preco = document.getElementById(`preco_${itemId}`);
        const totaItem = document.getElementById(`total_${itemId}`)
        const newTotal = parseFloat(preco.textContent) * quantity;

        totaItem.textContent = newTotal;

        // Atualizar o valor total do carrinho
        updateCartTotal();
    }

    function updateCartTotal() {
        let total = 0;
        document.querySelectorAll('span[id^="total_"]').forEach((span) => {
            total += parseFloat(span.textContent);
        });
        document.getElementById('total_carrinho').textContent = total.toFixed(2);
    }
</script>
{% endblock %}
